<div class="row">
  <div class="col-md-15 col-md-offset-1">
    <ul class="projects">
      <li>
        <div class="col-md-1">
          <h1>id</h1>
        </div>
        <div class="col-md-2">
          <h1>fname</h1>
        </div>
        <div class="col-md-3">
          <h1>lname</h1>
        </div>
        <div class="col-md-1">
          <h1>race</h1>
        </div>
        <div class="col-md-2">
          <h1>gender</h1>
        </div>
        <div class="col-md-1">
          <h1>ssn</h1>
        </div>
        <div class="col-md-2">
          <h1>dob</h1>
        </div>
      </li>
      <% for i in 0..(@fdb.size-1) %>
          <li>
            <div class="col-md-1">
              <h3><%= @fdb[i][:fid] %></h3>
            </div>
            <div class="col-md-2">
              <h3><%= @fdb[i][:ffname] %></h3>
            </div>
            <div class="col-md-3">
              <h3><%= @fdb[i][:flname] %></h3>
            </div>
            <div class="col-md-1">
              <h3><%= @fdb[i][:frace] %></h3>
            </div>
            <div class="col-md-1">
              <h3><%= @fdb[i][:fgender] %></h3>
            </div>
            <div class="col-md-3">
              <h3><%= @fdb[i][:fssn] %></h3>
            </div>
            <div class="col-md-1">
              <h3><%= @fdb[i][:fdob] %></h3>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>